.gradient-custom-2 {
    /* fallback for old browsers */
    background: #7e40f6;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(
      to right,
      rgba(126, 64, 246, 1),
      rgba(80, 139, 252, 1)
    );
  }
  
  .mask-custom {
    background: rgba(24, 24, 16, 0.2);
    border-radius: 2em;
    /* backdrop-filter: blur(25px); */
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
  }

  thead tr th {
    text-align: center;
  }

  tbody tr th {
    text-align: center;
  }

  td.align-middle {
    text-align: center;
  }

  label {
    color: black;
  }

  span.task-link {
    cursor: pointer;
    color: rgb(9, 44, 55);
    font-family: cursive;
  }

  a {
    text-decoration: none;
  }

  .completed-task {
    text-decoration: line-through;
    color: gray; 
  }

  th {
    text-align: center; /* Căn giữa theo trục ngang */
    vertical-align: middle; /* Căn giữa theo trục dọc */
    height: 50px; /* Đảm bảo chiều cao của thẻ th đủ lớn để thấy rõ sự căn giữa */
}